@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

*{
    font-family: 'IM Fell English SC', serif;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 0px 300px 0px 300px;
}
.header_logo{
    width: 150px;
    height: 80px;
}
nav,ul{
    display: flex;
    list-style-type: none;
}
nav,li,a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

.nav_links,a:hover{
    color:rgb(10, 9, 6);
}
.header_sign-in, .header_sign-up{
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 50px;
    padding:5px 20px 5px 5px;
}

.header_sign-in:hover, .header_sign-up:hover{
    background-color: rgb(156, 154, 148);
    color:white;
}

#nav_connexion{
    display: flex;
}
#section-1{
    height: 35rem;
    background-image: url("./image/imagefond1.webp");
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 400px 0px 400px;
    color: #fff;
    font-size: 50px;
}
#section-1 h2{
    padding-top: 130px;
}
#section-1 h3{
    padding-top: 20px;
    padding-bottom: 10px;
}
.section-1_contacts{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px ;
}

.section-1_call-addresse{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 200px;
    padding: 30px;
    
    
}
.section-1_mail-addresse{
margin-left: 400px;
width: 50px;
height: 50px;
border: 2px solid white;
border-radius: 200px;
padding: 30px;
}

.section-1_maps-addresse{
    
}
.section-1_call-addresse:hover, .section-1_maps-addresse:hover, .section-1_mail-addresse:hover{
    background-color: rgb(156, 154, 148);
}
#section-2 h2{
    color: black;
    text-align: center;
    text-decoration: underline;
}
.section-2_1{
    display: flex;
    margin-bottom: 50px;
}

.section-2_2{
    display: flex;
    margin-bottom: 50px;
}

#section-2{
    justify-content: center;
    align-items: center;
    padding: 0px 500px 0px 500px;
 
}

.section-2_img{
    display: flex;
}

.section-2_describ{
    text-align: start;
}
button{
    border: 2px solid black;
    background-color: white;
}
button:hover{
    background-color: rgb(156, 154, 148);
}
.section-2_2{
    display: flex;
    justify-content: space-between;
}
.rond1, .rond2, .rond3, .rond4{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(156, 154, 148);
    border-radius: 200px;
}
.rond1-1, .rond2-1, .rond3-1, .rond4-1{
    position: relative;
    width: 180px;
    height: 100px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 200px;
    text-align: center;
    top: -50px;
    right: -10px;
    padding-top: 80px;
    font-size: 20px;
    cursor: pointer;
}

.rond1-2, .rond2-2, .rond3-2, .rond4-2{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 200px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
    margin: 20px;
}

.project-item{
    position: relative;
    height: 450px;
    width: 405px;
    border: 2px solid #fff;
    box-shadow: 2px 2px rgb(160, 151, 151);
    background-color: white;
   
}
.project-item p, button{
    margin-top: 30px ;
}
.project-item h3, h4, p, button{
    position: relative;
    left: 10px;
    bottom: 0px;
}

.card-img{
    max-width: 100%;
    max-height: 50rem;
}

#section-3 h2{
    text-decoration: underline;
    text-align: center;
    padding-bottom: 20px;
}

#section-3{
    background-color:#c4c4c4c4;
    padding: 100px 400px 0px 400px;
}

 h2{
    color: #fff;
    font-size: 50px;
}

#service{
    display: flex;
    font-size: 30px;
}

#section-4 h2{
color: black;
text-decoration: underline;
text-align: center;
padding:20px 0px 20px 0px;
}
#section-4{
    padding: 100px 400px 0px 400px;
}
.customer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color1{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 200px;
    margin-left: 30px;
}
.color2{
    position: relative;
    width: 230px;
    height: 220px;
    background-color: red;
    border-radius: 200px;
    margin-left: 70px;
}

.color3{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 200px;
    margin-left: 70px;
}
.color1 img{
    position: relative;
    top: 15px;
}
.color2 img{
    position: relative;
    
}

.color3 img{
    position: relative;
    top: 15px;
}
.customer1{
    height: 650px;
    width: 350px;
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px 2px rgb(160, 151, 151);
    border-radius: 30px;
    text-align: center;
    padding-right: 10px;
}
.customer2, .customer3{
    height: 650px;
    width: 350px;
    text-align: center;
}
.customer2 p, .customer3 p{
    opacity: 0.2;
    margin-top: 10px
}
.customer h3{
    color: rgb(49, 164, 164);
}

#section-5 h2{
    color: black;
    text-decoration: underline;
    text-align: center;
    padding:20px 0px 20px 0px;
}
h3 {
    color: black;
    font-size: 50px;
    text-align: center;
}
iframe{
    width: 100%;
    margin: 0 auto;
}
#section-5{
    padding: 0px 400px 0px 400px;
}
footer{
    background-color:#2B2977;
    padding: 100px 400px 0px 400px;
}
.footer{
    display: flex;
    justify-content: space-between;
}

.form{
    width: 300px;
    height: 50px;
    display: flex;
   margin-top: 30px;
    border-radius: 0px 30px 30px 35px;
}

.compagny ul{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.follow-us ul{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    cursor: pointer;
}
footer p{
    color: white;
    text-align: center;
    padding-bottom: 30px;
    font-size: 50px;
}
.compagny a{
    margin: 10px 0px 0px 5px;
    font-size: 35px;
}


@media all and (max-width: 1324px)
{
     
    .header, #section-1, #section-2,#section-3, #section-4, #section-5, footer{
        padding: 10px;
    } 
    nav
    {
        width: auto;
        text-align: left;
    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        padding-left: 2px;
    }
    nav a{
        font-size: 1.1em;
    }
    
    .project{
        flex-direction: column;
        padding-left: 10px;
    }
    .project-item{
        margin-top: 20px;
    }
    .customer{
        flex-direction: column;
    }
    .customer1, .customer2, .customer3{
        margin-top: 20px;
    }
    .servce a{
        flex-direction: column;
    }
    body{
        width: 100%;
        margin: auto;
    }
   
    .section-2_2{
        display: inline-block;
        margin-left: 100px;
    }
    #service{
        font-size: 20px;
        display: inline-block;
    }
    
    #nav_connexion{
        display: inline-block;
        margin-left: 5px;
    }
}
@media all and (max-width: 900px)
{
.section-2_1, .footer{
    display: inline-block;
}
#section-5,#section-4, #section-3, #section-2, #section-1, .header, footer{
    padding: 0px 0px 0px 0px;
}
.header_logo{
    margin-left: 0px;
    width: 80px;
    height: 40px;
}
.section-1_contacts{
  display: none;
}
.section-1 h3{
    display: none;
}
.header_sign-in, .header_sign-up{
    border: 2px solid white;
    border-radius: 50px;
    padding:2px 10px 2px 2px;
}
.nav_links{
margin-left: 0px;
}
footer p{
    color: white;
    text-align: center;
    padding-bottom: 15px;
    font-size: 25px;
}
}